<footer>
  <div class="hr">
    <hr />
  </div>

  <div class="f-info d-flex flex-column flex-md-row justify-content-between text-center text-md-start">

    <div class="f-info-cotainer">
      <div class="f-info-brand">&copy;2026 Restbnb, Inc.</div>

      <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
        <a href="/companyDetails">Company details</a>
      </div>
    </div>

    <div class="f-info-socials mt-3 mt-md-0">
      <div><i class="fa-brands fa-facebook"></i></div>
      <div><i class="fa-brands fa-x-twitter"></i></div>
      <div><i class="fa-brands fa-instagram"></i></div>
    </div>
  </div>
</footer>
