<% layout ("/layouts/boilerplate") %>

<div class="row justify-content-center mt-4">
  <div class="col-12 col-sm-10 col-md-8 col-lg-6">
    <div class="alert alert-danger text-break text-center" role="alert">
      <h4 class="mb-0"><%= message %></h4>
    </div>
  </div>
</div>
